__pycache__
detectors/backbones/__pycache__
detectors/necks/__pycache__
detectors/heads/__pycache__
detectors/__pycache__
layers/__pycache__
datasets/__pycache__
tools/__pycache__
configs/__pycache__
weights/*.ckpt
